.card {
  background-color: $white;
  border-radius: 23px;
  box-shadow: 6px 6px 10px rgba($color: #4d4d4d, $alpha: 0.65);
  overflow: hidden;

  &--with-title {
    border-radius: 0 23px 0 23px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background: url(/assets/image/red_bg.svg);
    color: $white;
    font-family: $kg-heavy;
    font-size: 2.5rem;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 15px;
  }

  &__image-content {
    min-width: 125px;
    width: 125px;
  }

  &__product-name {
    font-size: 2.4rem;
    line-height: 3.5rem;
    font-family: $jun501;
  }

  &__product-description {
    font-size: 1.1rem;
    font-family: $jun34;
    margin-bottom: 4px;
  }

  &__free-shipping {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-family: $kg-bold;
    font-weight: bold;
    white-space: nowrap;
    background-color: #ff0001;
    font-size: 2.2rem;
    padding: 0 20px;
    border-radius: 50%;
    margin-left: 20px;
  }

  &__regular-price {
    font-family: $kg-bold;
    font-size: 1.5rem;
    line-height: 1.4em;
    margin-right: 5px;
    white-space: nowrap;
  }

  &__price {
    font-size: 3.5rem;
    line-height: 4rem;
    font-family: $kg-bold;
    white-space: nowrap;
  }

  &__tax-label {
    white-space: nowrap;
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-family: $kg-bold;
  }

  &__yen {
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-family: $kg-bold;
  }
}