.faq {
  background: url(/dist/image/top_flowers.svg) repeat no-repeat, url(/dist/image/bottom_left.svg) no-repeat, url(/dist/image/bottom_right.svg) no-repeat;
  background-position: top -15px left, bottom left -10px, bottom right -10px;
  padding: 20px 25px 30px;

  @media screen and (max-width: 600px) {
    padding: 3.3vw 4.2vw 5vw;
  }

  &__item {
    padding: 20px 25px;
    border-bottom: 3px dotted #fbb4d9;

    @media screen and (max-width: 600px) {
      padding: 3.3vw 4.2vw;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    color: #f6437f;
    font-size: 1.6rem;
    font-family: $kg-bold;
    margin-bottom: 10px;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      margin-bottom: 1.7vw;
    }
  }
}