.faq {
  background: url(../image/top_flowers.svg) repeat no-repeat, url(../image/bottom_left.svg) no-repeat, url(../image/bottom_right.svg) no-repeat;
  background-position: top -15px left, bottom left -10px, bottom right -10px;
  background-size: auto, 145px, 145px;
  padding: 20px 25px 30px;

  @media screen and (max-width: 600px) {
    padding: 3.3vw 4.2vw 5vw;
    background-size: auto, 33vw, 33vw;
  }

  &__item {
    padding: 15px 25px 22px;
    background-image: url(../image/dot.svg);
    background-position: bottom -5px center;
    background-repeat: repeat-x;

    @media screen and (max-width: 600px) {
      padding: 2vw 4.2vw 4vw;
    }

    &:last-child {
      background: none;
    }
  }

  &__title {
    text-align: center;
    color: #f6437f;
    font-size: 1.6rem;
    font-family: $kg-bold;
    margin-bottom: 10px;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      margin-bottom: 1.7vw;
    }
  }
}