.heading {
  text-align: center;
  background: url(../image/gold-banner.svg) no-repeat;
  background-position: center;
  background-size: contain;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    height: 19vw;
  }

  &__text {
    margin-top: -38px;
    font-size: 3.5rem;
    font-family: $zen;
    font-weight: 900;

    @media screen and (max-width: 600px) {
      margin-top: -6.3vw;
      font-size: 5.8vw;
    }

    &--sm {
      margin-top: -30px;
      font-size: 2.8rem;
      letter-spacing: -1px;

      @media screen and (max-width: 600px) {
        margin-top: -5vw;
        font-size: 4.6vw;
      }
    }

    &--xsm {
      margin-top: -35px;
      font-size: $font-20;
      line-height: 2.4rem;

      @media screen and (max-width: 600px) {
        margin-top: -5.8vw;
        font-size: 3.3vw;
        line-height: 4vw
      }
    }
  }
}