.heading {
  text-align: center;
  background: url(/dist/image/gold-banner.svg) no-repeat;
  background-position: center;
  background-size: contain;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    height: 19vw;
  }

  &__text {
    margin-top: -30px;
    font-size: 2.4rem;

    @media screen and (max-width: 600px) {
      margin-top: -5vw;
      font-size: 4vw;
    }

    &--sm {
      margin-top: -38px;
      font-size: $font-20;

      @media screen and (max-width: 600px) {
        margin-top: -6.3vw;
        font-size: 3.3vw;
      }
    }
  }
}