.ingredients {
  position: relative;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    @media screen and (max-width: 600px) {
      grid-gap: 1.7vw;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #ffff01;

    @media screen and (max-width: 600px) {
      width: 10.8vw;
      height: 10.8vw;
    }
  }

  &__text {
    font-size: 1.2rem;
    font-family: $kg-bold;

    @media screen and (max-width: 600px) {
      font-size: 2vw;
    }
  }
}