.review {
  background: url(../image/review_bg.svg);
  padding: 25px 0;

  @media screen and (max-width: 600px) {
    padding: 4.2vw;
  }

  &__list {
    margin: 13px auto 0;
    max-width: 550px;

    @media screen and (max-width: 600px) {
      max-width: 91.6vw;
      margin-top: 2.2vw;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 400px;
    margin: 0 0 35px auto;

    @media screen and (max-width: 600px) {
      max-width: 66.6vw;
      margin-bottom: 5.8vw;
    }

    &--reverse {
      flex-direction: row-reverse;
      margin: 0 0 35px;

      @media screen and (max-width: 600px) {
        margin-bottom: 5.8vw;
      }
    }

    &:nth-child(2) {
      .review__image-wrapper {
        box-shadow: -170px 17px 13px rgba($color: $white, $alpha: 0.47);

        @media screen and (max-width: 600px) {
          box-shadow: -28vw 2.8vw 2.2vw rgba($color: $white, $alpha: 0.47);
        }
      }
    }

    &:nth-child(3) {
      .review__image-wrapper {
        box-shadow: 175px -30px 13px rgba($color: $white, $alpha: 0.47);

        @media screen and (max-width: 600px) {
          box-shadow: 29vw -5vw 2.2vw rgba($color: $white, $alpha: 0.47);
        }
      }
    }

    &:nth-child(4) {
      .review__image-wrapper {
        box-shadow: -170px -17px 13px rgba($color: $white, $alpha: 0.47);

        @media screen and (max-width: 600px) {
          box-shadow: -28vw -2.8vw 2.2vw rgba($color: $white, $alpha: 0.47);
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image-wrapper {
    width: 183px;
    height: 183px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 170px 17px 13px rgba($color: $white, $alpha: 0.47);

    @media screen and (max-width: 600px) {
      width: 30.5vw;
      height: 30.5vw;
      box-shadow: 28vw 2.8vw 2.2vw rgba($color: $white, $alpha: 0.47);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 1.8rem;
    font-weight: 900;
    margin: 0 20px 0 15px;
    font-family: $zen;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      margin: 0 3.3vw 0 2.5vw;
    }

    &--md {
      font-size: 2.6rem;
      @media screen and (max-width: 600px) {
        font-size: 4.3vw;
      }
    }

    &--lg {
      font-size: 3.6rem;
      @media screen and (max-width: 600px) {
        font-size: 6vw;
      }
    }
  }
}