//font-size
$font-30: 3rem;
$font-20: 2rem;


//color
$white: #fff;
$black: #000;

//font face
@font-face {
  font-family: "KozGoPR6NRegular";
  src: url("../fonts/KozGoPr6N-Regular.otf");
}

@font-face {
  font-family: "ClickerScript";
  src: url("../fonts/ClickerScript-Regular.ttf");
}

@font-face {
  font-family: "KozGoPR6NBold";
  src: url("../fonts/KozGoPr6N-Bold.otf");
}

@font-face {
  font-family: "KozGoPr6N-Heavy";
  src: url("../fonts/KozGoPr6N-Heavy.otf");
}


//fonts
$kg-regular: 'KozGoPR6NRegular', sans-serif;
$clicker: 'ClickerScript', sans-serif;
$kg-bold: 'KozGoPR6NBold', sans-serif;
$kg-heavy: 'KozGoPr6N-Heavy', sans-serif;
$m-plus: 'M PLUS Rounded 1c', sans-serif;
$kosugi: 'Kosugi Maru', sans-serif;
$mochi: 'Mochiy Pop P One', sans-serif;
$zen: 'Zen Old Mincho', serif;