//font-size
$font-30: 3rem;
$font-20: 2rem;


//color
$white: #fff;
$black: #000;

//font face
@font-face {
  font-family: "KozGoPR6NRegular";
  src: url("/dist/fonts/KozGoPr6N-Regular.otf") format("otf");
}

@font-face {
  font-family: "ClickerScript";
  src: url("/dist/fonts/ClickerScript-Regular.ttf");
}

//fonts
$kg-regular: 'KozGoPR6NRegular', Arial, sans-serif;
$clicker: 'ClickerScript', sans-serif;