- var n = 0
section.ailments
  .max-width
    .heading.ryumin 
      h2.heading__text こんなお悩み抱えていませんか？
    ul.ailments__list
      while n < 5
        - n++
        li.ailments__item
          .ailments__image-wrapper
            img(src="" alt="")
          span.ailments__text ○○○○○