.banner
  .banner__wrapper
    img.banner__background-img(src="assets/image/banner.png" alt="banner")
    img.banner__background-img.banner__background-img--sp(src="assets/image/banner-sp.png" alt="banner sp")
    .banner__content
      .banner__logo-wrapper
        span LOGO
      h2.banner__title 今だからこそ
        span ○○○○
        p チャージ!!
      .flex.justify-end
        .banner__board-container
          .board.board--lg
            .board__text-container
              .board__text-content
                span.board__text □□□□□
                .board__orange-rule
                span.board__text □□□□□
              span.board__text.board__text--sm □□□□□
        .banner__ingredients-container
          .ingredients
            .ingredients__title-wrapper
              p.ingredients__title.ingredients__title--outline カラダが喜ぶ成分が
                br
                span 
                  img(src="assets/image/line-left.svg") 
                  | ギュッ!
                  img(src="assets/image/line-right.svg") 
                | と配合
              p.ingredients__title カラダが喜ぶ成分が
                br
                span 
                  img(src="assets/image/line-left.svg") 
                  | ギュッ!
                  img(src="assets/image/line-right.svg") 
                | と配合

            ul.ingredients__list
              each n in [1, 2, 3, 4, 5, 6]
                li.ingredients__item
                  span.ingredients__text ビタミン○

  p.banner__text [原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。