- var n = 0
section.faq
  .max-width
    .heading.ryumin 
      h2.heading__text よくあるご質問
    ul.faq__list
      while n < 5
        - n++
        li.faq__item
          h3.faq__title 質問内容◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯。
          p.faq__text これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。これはコピーです◯◯◯◯◯◯◯。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。