section.product-cards
  .max-width
    .product-cards__wrapper
      .card.card--with-title
        h2.card__title 〈初回限定〉お試しキャンペーン
        .card__content
          .card__image-content
            span.card__dosage 1日の目安量
              br
              | ◯粒
            .board
              img.board__circle-image(src="assets/image/disk.svg" alt="disk")
              .board__text-container
                .board__text-content
                  span.board__text □□□□□
                  .board__orange-rule
                  span.board__text □□□□□
                span.board__text.board__text--sm □□□□□
          .card__text-content
            .flex.justify-between
              div
                h3.card__product-name efsマルチビタミン
                p.card__product-description 内容量 ◯◯◯粒（約◯ヶ月分）
              span.card__free-shipping 送料無料
            .flex.align-start
              p.card__regular-price 通常価格
                br
                | 0,000円▶
              span.card__price.red 特別価格 
              span.card__price.card__price--lg.red 0,000
              .flex.flex-column
                span.card__tax-label （税込）
                span.card__yen.red 円
            button.button.button--mt-8 
              span.button__text カートに入れる

      .card.mt-35
        .card__content.card__content--with-padding-left
          .card__image-content
            span.card__dosage 1日の目安量
              br
              | ◯粒
            .board
              img.board__circle-image(src="assets/image/disk.svg" alt="disk")
              .board__text-container
                .board__text-content
                  span.board__text □□□□□
                  .board__orange-rule
                  span.board__text □□□□□
                span.board__text.board__text--sm □□□□□
          .card__text-content
            .flex.justify-between
              div
                h3.card__product-name efsマルチビタミン
                p.card__product-description 内容量 ◯◯◯粒（約◯ヶ月分）
              span.card__free-shipping 送料無料
            .flex.align-baseline
              span.card__price 販売価格 
              span.card__price.card__price--lg 0,000
              .flex.flex-column
                span.card__yen 円
            button.button.button--mt-8 
              span.button__text カートに入れる

    p.product-cards__text [原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。