section.video
  .max-width
    .heading
      h2.heading__text.js-curved-heading 動画でご紹介タイトル
    .video__wrapper
      p.video__text 自信を持っておすすめします。
        br
        | まずはお試しください！
      .blank-container