doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css")
    title FILTERPH
    
    // fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap" rel="stylesheet")
  body 
    include components/header.pug
    main
      include components/banner.pug
      include components/product_cards.pug
      include components/ailments.pug
      include components/products.pug
      include components/product_cards.pug
      include components/reviews.pug
      include components/video_section.pug
      include components/sns_section.pug
      include components/faq.pug
      include components/pr.pug
      include components/product_cards.pug
    include components/footer.pug

    script(src="assets/js/circletype.min.js")
    script(src="assets/js/main.js")