
<section class="ailments">
  <div class="max-width">
    <div class="heading ryumin"> 
      <h2 class="heading__text">こんなお悩み抱えていませんか？</h2>
    </div>
    <ul class="ailments__list">
      <li class="ailments__item">
        <div class="ailments__image-wrapper"><img src="" alt=""/></div><span class="ailments__text">○○○○○</span>
      </li>
      <li class="ailments__item">
        <div class="ailments__image-wrapper"><img src="" alt=""/></div><span class="ailments__text">○○○○○</span>
      </li>
      <li class="ailments__item">
        <div class="ailments__image-wrapper"><img src="" alt=""/></div><span class="ailments__text">○○○○○</span>
      </li>
      <li class="ailments__item">
        <div class="ailments__image-wrapper"><img src="" alt=""/></div><span class="ailments__text">○○○○○</span>
      </li>
      <li class="ailments__item">
        <div class="ailments__image-wrapper"><img src="" alt=""/></div><span class="ailments__text">○○○○○</span>
      </li>
    </ul>
  </div>
</section>