
<section class="faq">
  <div class="max-width">
    <div class="heading ryumin"> 
      <h2 class="heading__text">よくあるご質問</h2>
    </div>
    <ul class="faq__list">
      <li class="faq__item">
        <h3 class="faq__title">質問内容◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯。</h3>
        <p class="faq__text">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。これはコピーです◯◯◯◯◯◯◯。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
      </li>
      <li class="faq__item">
        <h3 class="faq__title">質問内容◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯。</h3>
        <p class="faq__text">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。これはコピーです◯◯◯◯◯◯◯。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
      </li>
      <li class="faq__item">
        <h3 class="faq__title">質問内容◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯。</h3>
        <p class="faq__text">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。これはコピーです◯◯◯◯◯◯◯。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
      </li>
      <li class="faq__item">
        <h3 class="faq__title">質問内容◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯。</h3>
        <p class="faq__text">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。これはコピーです◯◯◯◯◯◯◯。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
      </li>
      <li class="faq__item">
        <h3 class="faq__title">質問内容◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯。</h3>
        <p class="faq__text">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。これはコピーです◯◯◯◯◯◯◯。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです。◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
      </li>
    </ul>
  </div>
</section>