
<section class="product-cards">
  <div class="max-width">
    <div class="product-cards__wrapper">
      <div class="card card--with-title">
        <h2 class="card__title">〈初回限定〉お試しキャンペーン</h2>
        <div class="card__content">
          <div class="card__image-content"><span class="card__dosage">1日の目安量<br/>◯粒</span>
            <div class="board"><img class="board__circle-image" src="assets/image/disk.svg" alt="disk"/>
              <div class="board__text-container">
                <div class="board__text-content"><span class="board__text">□□□□□</span>
                  <div class="board__orange-rule"></div><span class="board__text">□□□□□</span>
                </div><span class="board__text board__text--sm">□□□□□</span>
              </div>
            </div>
          </div>
          <div class="card__text-content">
            <div class="flex justify-between">
              <div>
                <h3 class="card__product-name">efsマルチビタミン</h3>
                <p class="card__product-description">内容量 ◯◯◯粒（約◯ヶ月分）</p>
              </div><span class="card__free-shipping">送料無料</span>
            </div>
            <div class="flex align-start">
              <p class="card__regular-price">通常価格<br/>0,000円▶</p><span class="card__price red">特別価格 </span><span class="card__price card__price--lg red">0,000</span>
              <div class="flex flex-column"><span class="card__tax-label">（税込）</span><span class="card__yen red">円</span></div>
            </div>
            <button class="button button--mt-8"> <span class="button__text">カートに入れる</span></button>
          </div>
        </div>
      </div>
      <div class="card mt-35">
        <div class="card__content card__content--with-padding-left">
          <div class="card__image-content"><span class="card__dosage">1日の目安量<br/>◯粒</span>
            <div class="board"><img class="board__circle-image" src="assets/image/disk.svg" alt="disk"/>
              <div class="board__text-container">
                <div class="board__text-content"><span class="board__text">□□□□□</span>
                  <div class="board__orange-rule"></div><span class="board__text">□□□□□</span>
                </div><span class="board__text board__text--sm">□□□□□</span>
              </div>
            </div>
          </div>
          <div class="card__text-content">
            <div class="flex justify-between">
              <div>
                <h3 class="card__product-name">efsマルチビタミン</h3>
                <p class="card__product-description">内容量 ◯◯◯粒（約◯ヶ月分）</p>
              </div><span class="card__free-shipping">送料無料</span>
            </div>
            <div class="flex align-baseline"><span class="card__price">販売価格 </span><span class="card__price card__price--lg">0,000</span>
              <div class="flex flex-column"><span class="card__yen">円</span></div>
            </div>
            <button class="button button--mt-8"> <span class="button__text">カートに入れる</span></button>
          </div>
        </div>
      </div>
    </div>
    <p class="product-cards__text">[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。[原材料]これはコピーです◯◯◯◯◯◯◯。</p>
  </div>
</section>