
<section class="products">
  <div class="max-width">
    <div class="heading ryumin">
      <h2 class="heading__text heading__text--sm">こんなに違います！<br/>願いを叶えるefsマルチビタミン。</h2>
    </div>
    <ul class="products__list">
      <li class="products__item"><span class="products__point">Point<br/>1</span>
        <h3 class="products__title ryumin">見出しが入ります。見出しが入ります◯◯◯◯◯。</h3>
        <div class="products__description-wrapper">
          <p class="products__description">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
          <div class="products__image-wrapper"></div>
        </div>
      </li>
      <li class="products__item products__item--dark-pink products__item--right"><span class="products__point">Point<br/>1</span>
        <h3 class="products__title ryumin">見出しが入ります。見出しが入ります◯◯◯◯◯。</h3>
        <div class="products__description-wrapper">
          <p class="products__description">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
          <div class="products__image-wrapper"></div>
        </div>
      </li>
      <li class="products__item"><span class="products__point">Point<br/>1</span>
        <h3 class="products__title ryumin">見出しが入ります。見出しが入ります◯◯◯◯◯。</h3>
        <div class="products__description-wrapper">
          <p class="products__description">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
          <div class="products__image-wrapper"></div>
        </div>
      </li>
      <li class="products__item products__item--dark-pink products__item--right"><span class="products__point">Point<br/>1</span>
        <h3 class="products__title ryumin">見出しが入ります。見出しが入ります◯◯◯◯◯。</h3>
        <div class="products__description-wrapper">
          <p class="products__description">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
          <div class="products__image-wrapper"></div>
        </div>
      </li>
      <li class="products__item"><span class="products__point">Point<br/>1</span>
        <h3 class="products__title ryumin">見出しが入ります。見出しが入ります◯◯◯◯◯。</h3>
        <div class="products__description-wrapper">
          <p class="products__description">これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。これはコピーです◯◯◯◯◯◯◯。</p>
          <div class="products__image-wrapper"></div>
        </div>
      </li>
    </ul>
  </div>
</section>