
<section class="review">
  <div class="max-width">
    <div class="heading ryumin"> 
      <h2 class="heading__text">お客様の声</h2>
    </div>
    <ul class="review__list">
      <li class="review__item">
        <div class="review__image-wrapper"><img src="assets/image/customer_1.svg" alt="customer review"/></div>
        <div class="review__wrapper">
          <p class="review__text">○○感想が入ります。<br/>感想が<span class="review__text review__text--md">入ります。</span><br/>○○感想が入ります。<br/><span class="review__text review__text--lg">感想</span>が入ります。</p>
        </div>
      </li>
      <li class="review__item review__item--reverse">
        <div class="review__image-wrapper"><img src="assets/image/customer_2.svg" alt="customer review"/></div>
        <div class="review__wrapper">
          <p class="review__text">○○感想が入ります。<br/>感想が<span class="review__text review__text--md">入ります。</span><br/>○○感想が入ります。<br/><span class="review__text review__text--lg">感想</span>が入ります。</p>
        </div>
      </li>
      <li class="review__item">
        <div class="review__image-wrapper"><img src="assets/image/customer_3.svg" alt="customer review"/></div>
        <div class="review__wrapper">
          <p class="review__text">○○感想が入ります。<br/>感想が<span class="review__text review__text--md">入ります。</span><br/>○○感想が入ります。<br/><span class="review__text review__text--lg">感想</span>が入ります。</p>
        </div>
      </li>
      <li class="review__item review__item--reverse">
        <div class="review__image-wrapper"><img src="assets/image/customer_4.svg" alt="customer review"/></div>
        <div class="review__wrapper">
          <p class="review__text">○○感想が入ります。<br/>感想が<span class="review__text review__text--md">入ります。</span><br/>○○感想が入ります。<br/><span class="review__text review__text--lg">感想</span>が入ります。</p>
        </div>
      </li>
      <li class="review__item">
        <div class="review__image-wrapper"><img src="assets/image/customer_5.svg" alt="customer review"/></div>
        <div class="review__wrapper">
          <p class="review__text">○○感想が入ります。<br/>感想が<span class="review__text review__text--md">入ります。</span><br/>○○感想が入ります。<br/><span class="review__text review__text--lg">感想</span>が入ります。</p>
        </div>
      </li>
    </ul>
  </div>
</section>