
<section class="sns">
  <div class="max-width">
    <div class="heading ryumin">
      <h2 class="heading__text heading__text--sm">SNSでも<br/>「esfマルチビタミン」が話題！</h2>
    </div>
    <ul class="sns__list">
      <li class="sns__item"><img src="dist/image/insta_frame.svg" alt="sns image"/></li>
      <li class="sns__item sns__item--reverse"><img src="dist/image/insta_frame.svg" alt="sns image"/></li>
      <li class="sns__item"><img src="dist/image/insta_frame.svg" alt="sns image"/></li>
      <li class="sns__item sns__item--reverse"><img src="dist/image/insta_frame.svg" alt="sns image"/></li>
      <li class="sns__item"><img src="dist/image/insta_frame.svg" alt="sns image"/></li>
    </ul>
  </div>
</section>