
<section class="sns">
  <div class="max-width">
    <div class="heading">
      <h2 class="heading__text heading__text--xsm">SNSでも<br/><span class="js-curved-heading">「esfマルチビタミン」が話題！</span></h2>
    </div>
    <ul class="sns__list">
      <li class="sns__item"><img class="sns__frame" src="assets/image/sns_frame.svg" alt="sns frame"/>
        <div class="sns__content">
          <div class="sns__image-wrapper"> <img src="" alt="sns img" onerror="this.style.display='none'"/></div>
          <p class="sns__hash"># タイトルが入ります</p>
        </div>
      </li>
      <li class="sns__item sns__item--reverse"><img class="sns__frame" src="assets/image/sns_frame.svg" alt="sns frame"/>
        <div class="sns__content">
          <div class="sns__image-wrapper"> <img src="" alt="sns img" onerror="this.style.display='none'"/></div>
          <p class="sns__hash"># タイトルが入ります</p>
        </div>
      </li>
      <li class="sns__item"><img class="sns__frame" src="assets/image/sns_frame.svg" alt="sns frame"/>
        <div class="sns__content">
          <div class="sns__image-wrapper"> <img src="" alt="sns img" onerror="this.style.display='none'"/></div>
          <p class="sns__hash"># タイトルが入ります</p>
        </div>
      </li>
      <li class="sns__item sns__item--reverse"><img class="sns__frame" src="assets/image/sns_frame.svg" alt="sns frame"/>
        <div class="sns__content">
          <div class="sns__image-wrapper"> <img src="" alt="sns img" onerror="this.style.display='none'"/></div>
          <p class="sns__hash"># タイトルが入ります</p>
        </div>
      </li>
      <li class="sns__item"><img class="sns__frame" src="assets/image/sns_frame.svg" alt="sns frame"/>
        <div class="sns__content">
          <div class="sns__image-wrapper"> <img src="" alt="sns img" onerror="this.style.display='none'"/></div>
          <p class="sns__hash"># タイトルが入ります</p>
        </div>
      </li>
    </ul>
  </div>
</section>