@font-face {
  font-family: "KozGoPR6NRegular";
  src: url("../fonts/KozGoPr6N-Regular.otf");
}
@font-face {
  font-family: "ClickerScript";
  src: url("../fonts/ClickerScript-Regular.ttf");
}
@font-face {
  font-family: "KozGoPR6NBold";
  src: url("../fonts/KozGoPr6N-Bold.otf");
}
@font-face {
  font-family: "KozGoPr6N-Heavy";
  src: url("../fonts/KozGoPr6N-Heavy.otf");
}
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5em;
}

html {
  height: 100%;
  font-size: 10px;
  color: #1a1818;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.heading {
  text-align: center;
  background: url(../image/gold-banner.svg) no-repeat;
  background-position: center;
  background-size: contain;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .heading {
    height: 19vw;
  }
}
.heading__text {
  margin-top: -38px;
  font-size: 3.5rem;
  font-family: "Zen Old Mincho", serif;
  font-weight: 900;
}
@media screen and (max-width: 600px) {
  .heading__text {
    margin-top: -6.3vw;
    font-size: 5.8vw;
  }
}
.heading__text--sm {
  margin-top: -30px;
  font-size: 2.8rem;
  letter-spacing: -1px;
}
@media screen and (max-width: 600px) {
  .heading__text--sm {
    margin-top: -5vw;
    font-size: 4.6vw;
  }
}
.heading__text--xsm {
  margin-top: -35px;
  font-size: 2rem;
  line-height: 2.4rem;
}
@media screen and (max-width: 600px) {
  .heading__text--xsm {
    margin-top: -5.8vw;
    font-size: 3.3vw;
    line-height: 4vw;
  }
}

.header {
  background-color: #fff;
  height: 90px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 600px) {
  .header {
    padding: 0 8.3vw;
    height: 15vw;
  }
}
.header__text {
  font-family: "KozGoPR6NRegular", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .header__text {
    font-size: 3.1vw;
  }
}

.card {
  background-color: #fff;
  border-radius: 23px;
  box-shadow: 6px 6px 10px rgba(77, 77, 77, 0.65);
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .card {
    border-radius: 3.8vw;
    box-shadow: 1vw 1vw 1.6vw rgba(77, 77, 77, 0.65);
  }
}
.card--with-title {
  border-radius: 0 23px 0 23px;
}
@media screen and (max-width: 600px) {
  .card--with-title {
    border-radius: 0 3.8vw 0 3.8vw;
  }
}
.card--with-title .card__product-name {
  font-size: 2.5rem;
  line-height: 3.5rem;
}
@media screen and (max-width: 600px) {
  .card--with-title .card__product-name {
    font-size: 4vw;
    line-height: 5.8vw;
  }
}
.card--with-title .card__price {
  font-size: 3.5rem;
  line-height: 4rem;
}
@media screen and (max-width: 600px) {
  .card--with-title .card__price {
    font-size: 5.8vw;
    line-height: 6.6vw;
  }
}
.card--with-title .card__price--lg {
  font-size: 3.9rem;
}
@media screen and (max-width: 600px) {
  .card--with-title .card__price--lg {
    font-size: 6.5vw;
  }
}
.card--with-title .card__yen {
  font-size: 2.6rem;
  line-height: 2.6rem;
}
@media screen and (max-width: 600px) {
  .card--with-title .card__yen {
    font-size: 4.3vw;
    line-height: 4.3vw;
  }
}
.card--with-title .card__text-content {
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .card--with-title .card__text-content {
    margin-left: 1.7vw;
  }
}
.card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  background: url(../image/red_bg.svg);
  color: #fff;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 2.5rem;
}
@media screen and (max-width: 600px) {
  .card__title {
    height: 8.7vw;
    font-size: 4.2vw;
  }
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 15px 0;
}
@media screen and (max-width: 600px) {
  .card__content {
    padding: 0.8vw 2.5vw 2.5vw 0;
  }
}
.card__content--with-padding-left {
  padding-left: 15px;
}
@media screen and (max-width: 600px) {
  .card__content--with-padding-left {
    padding-left: 2.5vw;
  }
}
.card__content--with-padding-left .board__circle-image {
  left: 0;
}
.card__content--with-padding-left .card__dosage {
  right: 8px;
}
@media screen and (max-width: 600px) {
  .card__content--with-padding-left .card__dosage {
    right: 1.3vw;
  }
}
.card__image-content {
  min-width: 125px;
  width: 125px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .card__image-content {
    min-width: 20.8vw;
    width: 20.8vw;
  }
}
.card__product-name {
  white-space: nowrap;
  font-size: 2.2rem;
  line-height: 3rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .card__product-name {
    font-size: 3.6vw;
    line-height: 5vw;
  }
}
.card__product-description {
  font-size: 1.2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  margin: 4px 0;
}
@media screen and (max-width: 600px) {
  .card__product-description {
    font-size: 1.9vw;
    margin: 0.7vw 0;
  }
}
.card__free-shipping {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  white-space: nowrap;
  background-color: #ff0001;
  font-size: 2.5rem;
  padding: 5px 20px;
  border-radius: 50%;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .card__free-shipping {
    font-size: 4.2vw;
    padding: 0.5vw 3.3vw;
    margin-left: 1.7vw;
  }
}
.card__regular-price {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.4em;
  margin-right: 5px;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .card__regular-price {
    font-size: 2.5vw;
    margin-right: 0.8vw;
  }
}
.card__price {
  font-size: 4.4rem;
  line-height: 4.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .card__price {
    font-size: 7.3vw;
    line-height: 7.5vw;
  }
}
.card__price--lg {
  font-size: 4.6rem;
  margin-left: 5px;
}
@media screen and (max-width: 600px) {
  .card__price--lg {
    font-size: 7.7vw;
    margin-left: 0.8vw;
  }
}
.card__tax-label {
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 0.9rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .card__tax-label {
    font-size: 1.3vw;
    line-height: 1.5vw;
  }
}
.card__yen {
  font-size: 3rem;
  line-height: 3rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .card__yen {
    font-size: 5vw;
    line-height: 5vw;
  }
}
.card__dosage {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 1rem;
  position: absolute;
  top: 10px;
  right: 2px;
}
@media screen and (max-width: 600px) {
  .card__dosage {
    font-size: 1.7vw;
    top: 1.7vw;
    right: 0.3vw;
  }
}
.card__text-content {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .card__text-content {
    margin-left: 3.3vw;
  }
}

.review {
  background: url(../image/review_bg.svg);
  padding: 25px 0;
}
@media screen and (max-width: 600px) {
  .review {
    padding: 4.2vw;
  }
}
.review__list {
  margin: 13px auto 0;
  max-width: 550px;
}
@media screen and (max-width: 600px) {
  .review__list {
    max-width: 91.6vw;
    margin-top: 2.2vw;
  }
}
.review__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 400px;
  margin: 0 0 35px auto;
}
@media screen and (max-width: 600px) {
  .review__item {
    max-width: 66.6vw;
    margin-bottom: 5.8vw;
  }
}
.review__item--reverse {
  flex-direction: row-reverse;
  margin: 0 0 35px;
}
@media screen and (max-width: 600px) {
  .review__item--reverse {
    margin-bottom: 5.8vw;
  }
}
.review__item:nth-child(2) .review__image-wrapper {
  box-shadow: -170px 17px 13px rgba(255, 255, 255, 0.47);
}
@media screen and (max-width: 600px) {
  .review__item:nth-child(2) .review__image-wrapper {
    box-shadow: -28vw 2.8vw 2.2vw rgba(255, 255, 255, 0.47);
  }
}
.review__item:nth-child(3) .review__image-wrapper {
  box-shadow: 175px -30px 13px rgba(255, 255, 255, 0.47);
}
@media screen and (max-width: 600px) {
  .review__item:nth-child(3) .review__image-wrapper {
    box-shadow: 29vw -5vw 2.2vw rgba(255, 255, 255, 0.47);
  }
}
.review__item:nth-child(4) .review__image-wrapper {
  box-shadow: -170px -17px 13px rgba(255, 255, 255, 0.47);
}
@media screen and (max-width: 600px) {
  .review__item:nth-child(4) .review__image-wrapper {
    box-shadow: -28vw -2.8vw 2.2vw rgba(255, 255, 255, 0.47);
  }
}
.review__item:last-child {
  margin-bottom: 0;
}
.review__image-wrapper {
  width: 183px;
  height: 183px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 170px 17px 13px rgba(255, 255, 255, 0.47);
}
@media screen and (max-width: 600px) {
  .review__image-wrapper {
    width: 30.5vw;
    height: 30.5vw;
    box-shadow: 28vw 2.8vw 2.2vw rgba(255, 255, 255, 0.47);
  }
}
.review__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.review__text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 0 20px 0 15px;
  font-family: "Zen Old Mincho", serif;
}
@media screen and (max-width: 600px) {
  .review__text {
    font-size: 3vw;
    margin: 0 3.3vw 0 2.5vw;
  }
}
.review__text--md {
  font-size: 2.6rem;
}
@media screen and (max-width: 600px) {
  .review__text--md {
    font-size: 4.3vw;
  }
}
.review__text--lg {
  font-size: 3.6rem;
}
@media screen and (max-width: 600px) {
  .review__text--lg {
    font-size: 6vw;
  }
}

.ailments {
  width: 100%;
  background: url(../image/ailments_bg.svg) no-repeat;
  padding: 15px 0;
  background-size: cover;
  background-position: bottom left;
}
@media screen and (max-width: 600px) {
  .ailments {
    padding: 2.5vw 0;
  }
}
.ailments__list {
  display: grid;
  grid-template-columns: repeat(2, 136px 50px) 136px;
  justify-content: center;
  gap: 20px 0;
  padding: 15px 45px 0;
  width: 100%;
  place-items: center;
}
@media screen and (max-width: 600px) {
  .ailments__list {
    grid-template-columns: repeat(2, 22.6vw 8.3vw) 22.6vw;
    gap: 3.3vw 0;
    padding: 2.5vw 7.5vw 0;
  }
}
.ailments__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ailments__item:nth-child(2) {
  grid-column: 3;
}
.ailments__item:nth-child(3) {
  grid-column: 5;
}
.ailments__item:nth-child(4) {
  grid-column: 2;
}
.ailments__item:nth-child(5) {
  grid-column: 4;
}
.ailments__image-wrapper {
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 135px;
  height: 135px;
}
@media screen and (max-width: 600px) {
  .ailments__image-wrapper {
    width: 22.5vw;
    height: 22.5vw;
  }
}
.ailments__text {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 15px;
  font-family: "Kosugi Maru", sans-serif;
}
@media screen and (max-width: 600px) {
  .ailments__text {
    font-size: 3.3vw;
    margin-top: 2.5vw;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  background: url(../image/red_bg.svg);
  background-size: 100%;
}
@media screen and (max-width: 600px) {
  .footer {
    height: 9.2vw;
  }
}
.footer__copyright {
  font-size: 1.5rem;
  color: #fff;
  font-family: "KozGoPR6NRegular", sans-serif;
}
@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 2.8vw;
  }
}

.faq {
  background: url(../image/top_flowers.svg) repeat no-repeat, url(../image/bottom_left.svg) no-repeat, url(../image/bottom_right.svg) no-repeat;
  background-position: top -15px left, bottom left -10px, bottom right -10px;
  background-size: auto, 145px, 145px;
  padding: 20px 25px 30px;
}
@media screen and (max-width: 600px) {
  .faq {
    padding: 3.3vw 4.2vw 5vw;
    background-size: auto, 33vw, 33vw;
  }
}
.faq__item {
  padding: 15px 25px 22px;
  background-image: url(../image/dot.svg);
  background-position: bottom -5px center;
  background-repeat: repeat-x;
}
@media screen and (max-width: 600px) {
  .faq__item {
    padding: 2vw 4.2vw 4vw;
  }
}
.faq__item:last-child {
  background: none;
}
.faq__title {
  text-align: center;
  color: #f6437f;
  font-size: 1.8rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .faq__title {
    font-size: 3vw;
    margin-bottom: 1.7vw;
  }
}
.faq__text {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  .faq__text {
    font-size: 1.7vw;
  }
}

.products {
  background: url(../image/top_flowers.svg) repeat no-repeat, url(../image/bottom_left.svg) no-repeat, url(../image/bottom_right.svg) no-repeat;
  background-position: top -15px left, bottom left -10px, bottom right -10px;
  background-size: auto, 145px, 145px;
  padding: 25px 0;
}
@media screen and (max-width: 600px) {
  .products {
    padding: 4.2vw 0;
    background-size: auto, 33vw, 33vw;
  }
}
.products__item {
  position: relative;
  padding: 20px 20px 20px 50px;
  max-width: 455px;
  margin-top: 25px;
  background-image: url(../image/pink_bg_light.svg);
}
@media screen and (max-width: 600px) {
  .products__item {
    padding: 3.3vw 3.3vw 3.3vw 8.3vw;
    max-width: 80vw;
    margin-top: 4.2vw;
  }
}
.products__item--dark-pink {
  background-image: url(../image/pink_bg.svg);
}
.products__item--right {
  margin: 25px 0 0 auto;
}
@media screen and (max-width: 600px) {
  .products__item--right {
    margin-top: 4.2vw;
  }
}
.products__point {
  position: absolute;
  top: -10px;
  left: 50px;
  font-family: "ClickerScript", sans-serif;
  font-size: 1.7rem;
  line-height: 1.2rem;
  text-align: center;
  width: 50px;
  height: 50px;
  background: url(../image/point-bg.svg) no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .products__point {
    top: -1.7vw;
    left: 8.3vw;
    width: 9vw;
    height: 9vw;
    padding-top: 2.2vw;
    font-size: 3vw;
    line-height: 2.2vw;
  }
}
.products__point span {
  display: block;
  text-align: center;
  font-family: "Zen Old Mincho", serif;
  line-height: 0.6em;
}
.products__title {
  padding: 0 0 15px 55px;
  font-size: 1.3rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
@media screen and (max-width: 600px) {
  .products__title {
    padding: 0 0 2.5vw 9.2vw;
    font-size: 2.5vw;
  }
}
.products__description-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__description {
  font-family: "Kosugi Maru", sans-serif;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 600px) {
  .products__description {
    font-size: 1.8vw;
  }
}
.products__image-wrapper {
  background-color: #fff;
  border: 0.28px solid #000;
  width: 95px;
  min-width: 95px;
  height: 115px;
  margin-left: 15px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .products__image-wrapper {
    width: 15.8vw;
    min-width: 15.8vw;
    height: 19.2vw;
    margin-left: 2.5vw;
  }
}
.products__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sns {
  background-image: url(../image/pink_bg_light.svg);
  text-align: center;
  padding: 30px 0 40px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .sns {
    padding: 5vw 0 6.6vw;
  }
}
.sns__list {
  padding-left: 3%;
}
.sns__item {
  position: relative;
  width: 50%;
  transform: rotate(-5deg);
  text-align: right;
  margin-top: -118px;
}
@media screen and (max-width: 600px) {
  .sns__item {
    margin-top: -19.3vw;
  }
}
.sns__item--reverse {
  margin: -118px 15px 0 auto;
  transform: rotate(5deg);
  text-align: left;
}
@media screen and (max-width: 600px) {
  .sns__item--reverse {
    margin: -19.3vw 2.5vw 0 auto;
  }
}
.sns__item--reverse .sns__content {
  right: initial;
  left: 5px;
}
@media screen and (max-width: 600px) {
  .sns__item--reverse .sns__content {
    left: 0.8vw;
  }
}
.sns__item:first-child {
  margin-top: 0;
}
.sns__frame {
  width: 100%;
  max-width: 245px;
  height: auto;
  object-fit: contain;
}
@media screen and (max-width: 600px) {
  .sns__frame {
    max-width: 40.8vw;
  }
}
.sns__content {
  position: absolute;
  max-width: 229px;
  width: 100%;
  top: 0;
  left: initial;
  right: 12px;
  padding: 15px;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .sns__content {
    max-width: 38.1vw;
    right: 2vw;
    padding: 2.5vw;
  }
}
.sns__image-wrapper {
  box-shadow: 0 0 2px #1a1818;
  height: 170px;
  /* antialiasing */
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  -webkit-perspective: 1000;
}
@media screen and (max-width: 600px) {
  .sns__image-wrapper {
    height: 28.3vw;
  }
}
.sns__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sns__hash {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 1.4rem;
  padding-top: 7px;
}
@media screen and (max-width: 600px) {
  .sns__hash {
    font-size: 2.3vw;
    padding-top: 1.2vw;
  }
}

.pr {
  background: url(../image/review_bg.svg);
  padding: 25px 0;
}
@media screen and (max-width: 600px) {
  .pr {
    padding: 4.2vw 0;
  }
}
.pr__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px 0;
}
@media screen and (max-width: 600px) {
  .pr__wrapper {
    padding: 2.5vw 10vw 0;
  }
}
.pr__image-wrapper {
  min-width: 190px;
  width: 190px;
  height: 265px;
  background-color: #fff;
  margin-right: 17px;
}
@media screen and (max-width: 600px) {
  .pr__image-wrapper {
    min-width: 31.6vw;
    width: 31.6vw;
    height: 41.2vw;
    margin-right: 2.8vw;
  }
}
.pr__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pr__text {
  font-family: "Kosugi Maru", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  font-size: 1.1rem;
  line-height: 1.8em;
}
@media screen and (max-width: 600px) {
  .pr__text {
    font-size: 2vw;
    -webkit-line-clamp: 11;
  }
}

.video {
  background: url(../image/top_flowers.svg) repeat no-repeat, url(../image/bottom_left.svg) no-repeat, url(../image/bottom_right.svg) no-repeat;
  background-position: top -15px left, bottom left -10px, bottom right -10px;
  background-size: auto, 145px, 145px;
  padding: 25px 0;
}
@media screen and (max-width: 600px) {
  .video {
    padding: 4.2vw 0;
    background-size: auto, 33vw, 33vw;
  }
}
.video__text {
  color: #af0252;
  font-size: 2rem;
  font-family: "Zen Old Mincho", serif;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .video__text {
    font-size: 3.5vw;
  }
}

.product-cards__wrapper {
  padding: 30px 40px;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .product-cards__wrapper {
    padding: 5vw 6.6vw;
  }
}
.product-cards__text {
  font-family: "Kosugi Maru", sans-serif;
  padding: 0 35px;
  margin-bottom: 30px;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  color: #1a1818;
}
@media screen and (max-width: 600px) {
  .product-cards__text {
    padding: 0 5.8vw;
    margin-bottom: 5vw;
  }
}

.button {
  appearance: none;
  border: 0;
  width: 100%;
  height: 55px;
  background: transparent url(../image/button-bg.svg) no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .button {
    height: 9.2vw;
  }
}
.button--mt-8 {
  margin-top: 8px;
}
@media screen and (max-width: 600px) {
  .button--mt-8 {
    margin-top: 1.3vw;
  }
}
.button__text {
  font-size: 1.9rem;
  color: #fff;
  -webkit-text-stroke: 1px #00a99d;
  text-shadow: 0 2px 2px #00a99d;
  font-family: "KozGoPR6NBold", sans-serif;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .button__text {
    font-size: 3.1vw;
    margin-bottom: 0.8vw;
  }
}

.board {
  position: relative;
}
.board__text-container {
  background: url(../image/board.svg) no-repeat;
  background-size: contain;
  min-width: 105px;
  height: 145px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20% 20% 18% 15%;
  margin-top: 40px;
}
@media screen and (max-width: 600px) {
  .board__text-container {
    min-width: 17.5vw;
    height: 24.2vw;
    margin-top: 6.7vw;
  }
}
.board__text-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.board__orange-rule {
  width: 55px;
  height: 6px;
  background-color: #fea621;
  margin: 2px auto;
}
@media screen and (max-width: 600px) {
  .board__orange-rule {
    width: 9vw;
    height: 1vw;
  }
}
.board__text {
  font-size: 1rem;
  font-family: "KozGoPR6NRegular", sans-serif;
}
@media screen and (max-width: 600px) {
  .board__text {
    font-size: 1.7vw;
  }
}
.board__text--sm {
  font-size: 0.6rem;
}
@media screen and (max-width: 600px) {
  .board__text--sm {
    font-size: 1vw;
  }
}
.board__circle-image {
  position: absolute;
  top: -35px;
  left: 9%;
  width: 49px;
  height: 49px;
}
@media screen and (max-width: 600px) {
  .board__circle-image {
    top: -5.8vw;
    width: 8.1vw;
    height: 8.1vw;
  }
}
.board--lg .board__text-container {
  min-width: 170px;
  height: 230px;
  padding: 25% 20% 22% 15%;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .board--lg .board__text-container {
    min-width: 28.3vw;
    height: 38.3vw;
    margin-top: 1.7vw;
  }
}
.board--lg .board__orange-rule {
  width: 90px;
}
@media screen and (max-width: 600px) {
  .board--lg .board__orange-rule {
    width: 15vw;
  }
}
.board--lg .board__text {
  font-size: 1.7rem;
}
@media screen and (max-width: 600px) {
  .board--lg .board__text {
    font-size: 2.8vw;
  }
}
.board--lg .board__text--sm {
  font-size: 1rem;
}
@media screen and (max-width: 600px) {
  .board--lg .board__text--sm {
    font-size: 1.7vw;
  }
}

.banner__wrapper {
  width: 100%;
  min-height: 460px;
  height: calc(100vh - 90px);
  position: relative;
}
@media screen and (max-width: 600px) {
  .banner__wrapper {
    min-height: 76.6vw;
    height: 76.6vw;
  }
}
.banner__background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
@media screen and (max-width: 600px) {
  .banner__background-img {
    display: none;
  }
}
.banner__background-img--sp {
  display: none;
  object-fit: initial;
}
@media screen and (max-width: 600px) {
  .banner__background-img--sp {
    display: block;
  }
}
.banner__content {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: right;
  padding: 20px;
  max-width: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1366px) {
  .banner__content {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 600px) {
  .banner__content {
    padding: 3.3vw;
    display: block;
  }
}
.banner__title {
  font-family: "KozGoPr6N-Heavy", sans-serif;
  color: #fff;
  font-style: italic;
  font-size: 3.3rem;
  text-shadow: 2px 2px 5px #000;
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .banner__title {
    font-size: 5.5vw;
    text-shadow: 0.3vw 0.3vw 0.8vw #000;
    margin-bottom: 3.3vw;
  }
}
.banner__title span {
  font-size: 5.3rem;
}
@media screen and (max-width: 600px) {
  .banner__title span {
    font-size: 8.8vw;
  }
}
.banner__title p {
  font-size: 4.5rem;
  line-height: 4.5rem;
}
@media screen and (max-width: 600px) {
  .banner__title p {
    font-size: 7.5vw;
    line-height: 7.5vw;
  }
}
.banner__logo-wrapper {
  height: 21px;
  margin-bottom: 15px;
}
@media screen and (max-width: 600px) {
  .banner__logo-wrapper {
    height: 3.5vw;
    margin-bottom: 2.5vw;
  }
}
.banner__logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner__logo-wrapper span {
  color: #fff;
  font-size: 2.1rem;
  line-height: 2.1rem;
  font-weight: normal;
}
@media screen and (max-width: 600px) {
  .banner__logo-wrapper span {
    font-size: 3.5vw;
    line-height: 3.5vw;
  }
}
.banner__text {
  font-family: "Kosugi Maru", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.1rem;
  line-height: 1.8em;
  max-width: 800px;
  padding: 0 60px;
  margin: 0 auto;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .banner__text {
    font-size: 1.8vw;
    padding: 0 10vw;
  }
}

.ingredients {
  position: relative;
}
.ingredients__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
@media screen and (max-width: 600px) {
  .ingredients__list {
    grid-gap: 1.7vw;
  }
}
.ingredients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #ffff01;
}
@media screen and (max-width: 600px) {
  .ingredients__item {
    width: 10.8vw;
    height: 10.8vw;
  }
}
.ingredients__text {
  font-size: 1.2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
@media screen and (max-width: 600px) {
  .ingredients__text {
    font-size: 2vw;
  }
}
.ingredients__title-wrapper {
  position: relative;
  height: 50px;
}
@media screen and (max-width: 600px) {
  .ingredients__title-wrapper {
    height: 8.3vw;
  }
}
.ingredients__title {
  font-family: "Zen Old Mincho", serif;
  font-weight: 900;
  color: #145629;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1em;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 600px) {
  .ingredients__title {
    font-size: 3.6vw;
  }
}
.ingredients__title span {
  font-size: 2.6rem;
}
@media screen and (max-width: 600px) {
  .ingredients__title span {
    font-size: 4.3vw;
  }
}
.ingredients__title span img {
  display: inline-block;
  vertical-align: bottom;
  width: 23px;
  height: 41px;
}
@media screen and (max-width: 600px) {
  .ingredients__title span img {
    width: 3.8vw;
    height: 6.8vw;
  }
}
.ingredients__title--outline {
  font-family: "M PLUS Rounded 1c", sans-serif;
  -webkit-text-stroke: 8px #fff;
  color: #fff;
  text-shadow: 3px 2px 8px #000;
}
@media screen and (max-width: 600px) {
  .ingredients__title--outline {
    -webkit-text-stroke: 1.3vw #fff;
    text-shadow: 0.5vw 0.3vw 1.3vw #000;
  }
}

.max-width {
  max-width: 800px;
  margin: 0 auto;
}

.mb-20 {
  margin-bottom: 20px;
}

.blank-container {
  height: 400px;
}
@media screen and (max-width: 600px) {
  .blank-container {
    height: 330px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.red {
  color: #ff0001;
}

.mt-35 {
  margin-top: 35px;
}
@media screen and (max-width: 600px) {
  .mt-35 {
    margin-top: 5.8vw;
  }
}

.align-baseline {
  align-items: baseline;
}

.justify-end {
  justify-content: flex-end;
}
